body {
    margin: 0;
}

.date-picker {
    width: 49%; 
    font-size: 14px;
    display: inline;
}

.bg-orange {
    background-color: rgb(255, 81, 0);
}

.right {
    float: right;
}

.font-small {
    font-size: 12px;
}

.font-large {
    font-size: 18px;
}

.font-bold {
    font-weight: 600;
}

.rounded {
    border-radius: .15em !important;
}

.top-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.column {    
    box-sizing: border-box;
  }

.query-col {
    background-color: rgb(243, 243, 243);
    width: 25%;
}

.results {
    width: 70%;
}

.vis-col {
    width: 50%;
}

.list-col {
    width: 50%;
}

.inline {
    display: inline;
}

.pill {
    display: inline-block;
    width: fit-content;
    margin-right: 3px;
}
/*.row {
    margin: 0;
}
.row:after { 
    content: "";
    display: table;
    clear: both;
  }*/

.col-title {
    padding-bottom: 10px;
    font-weight: bold;
}

.list-item {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.input-width {
    width: 98%;
}

.shadow-1-strong {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25), 0 2px 5px 0 rgba(0, 0, 0, .2)!important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25), 0 2px 5px 0 rgba(0, 0, 0, .2)!important;
}
​
.spinner-border {
    margin: 50px;
    width: 4rem !important;
    height: 4rem !important;
    color:#4282c2 !important;
}
​
rect.selection {
    stroke: blue !important;
    stroke-opacity: .5;
    stroke-width: 2px;
    fill-opacity: 0;
    shape-rendering: crispEdges;
  }

  