<!DOCTYPE html>
<meta charset="utf-8" />

<head>
<title>Police Misconduct Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">   
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/date-range-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/keyword-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/jurisdiction-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/source-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/pills.js') }}"></script>
<script src="{{ url_for('static', filename='js/post-list.js') }}"></script>
<script src="{{ url_for('static', filename='js/times-vis.js') }}"></script>
<script src="{{ url_for('static', filename='js/words-vis.js') }}"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
</head>

<body  class="bg-light">
  <div class="container-fluid px-4 h-100">
  <div class="mb-4 mt-4">
    <h3>Police Misconduct Social Media Dashboard</h3>
  </div>

  <div class="row">
    <div class="col-3 container-fluid h-100">
      <!-- FILTERS SECTION -->
      <div class="col-title">
        Filters
      </div>
      <div class="mb-2 p-2 pb-4 rounded shadow-1-strong bg-white list-item" id="query-box">        
        
        <div class="mb-4">
          <div id="date-range-slider">Date range</div>
          <div class="mb-1">
            <input class="date-picker" type="date" id="start" name="range-start"
              value="2020-01-01" min="1900-01-01" max="2050-01-01"
              onChange="dateRangeSelect('Custom')">
            <input class="date-picker" type="date" id="end" name="range-end"
              value="2021-01-01" min="1900-01-01" max="2050-01-01"
              onChange="dateRangeSelect('Custom')">
          </div>
          <div>
            <button id="1D-button" type="button" class="btn btn-sm btn-light" onclick="dateRangeSelect('1D')">1D</button>
            <button id="1W-button" type="button" class="btn btn-sm btn-primary" onclick="dateRangeSelect('1W')">1W</button>
            <button id="1M-button" type="button" class="btn btn-sm btn-light" onclick="dateRangeSelect('1M')">1M</button>
            <button id="3M-button" type="button" class="btn btn-sm btn-light" onclick="dateRangeSelect('3M')">3M</button>
            <button id="1Y-button" type="button" class="btn btn-sm btn-light" onclick="dateRangeSelect('1Y')">1Y</button>
            <button id="All-button" type="button" class="btn btn-sm btn-light" onclick="dateRangeSelect('All')">All</button>
          </div>
        </div>
        <div class="mb-3">
          <input class="mb-1 input-width" type="text" id="keyword-input" name="keyword-input" placeholder="Keyword Input">
          <div class="overflow-auto" style="max-height: 16vh;" id="keyword-pill-list"></div>
        </div>
        <div class="mb-3">
          <input class="mb-1 input-width" type="text" id="jurisdiction-input" name="jurisdiction-input" placeholder="Jurisdiction Input">
          <div class="overflow-auto" style="max-height: 16vh;" id="jurisdiction-pill-list"></div>
        </div>
        <div class="mb-3">
          <input class="mb-1 input-width" type="text" id="source-input" name="source-input" placeholder="Source Input (Subreddits)">
          <div class="overflow-auto" style="max-height: 16vh;" id="source-pill-list"></div>
        </div>
      </div>
    </div>
    
    <div class="col-9 container-fluid">
        <div class="col-title">
            Statistics
        </div>
      <!-- STATS SECTION -->
      <div class="mb-1 container-fluid">
        <div class="row">
          <div class="col-3 p-0 pr-4 container-fluid h-100">
            <div class="mb-2 p-2 rounded shadow-1-strong bg-white list-item" id="stat1">&nbsp;</div>
          </div>
          <div class="col-3 p-0 pr-4 container-fluid h-100">
            <div class="mb-2 p-2 rounded shadow-1-strong bg-white list-item" id="stat2">&nbsp;</div>
          </div>
          <div class="col-3 p-0 pr-4 container-fluid h-100">
            <div class="mb-2 p-2 rounded shadow-1-strong bg-white list-item" id="stat3">&nbsp;</div>
          </div>
          <div class="col-3 p-0 container-fluid h-100">
            <div class="mb-2 p-2 rounded shadow-1-strong bg-white list-item" id="stat4">&nbsp;</div>
          </div>  
        </div>
      </div>
      <!-- POSTS/VISUALIZATIONS SECTION -->
      <div class="row h-75">
        <div class="col-7 container-fluid h-100">
          <div class="mb-2">
            <div class="col-title inline">
              Posts
            </div>
            <div class="right inline pr-1">
                Sort:
              <select class="btn btn-sm btn-primary py-0" name="sort-posts-metric" id="sort-posts-metric" onchange="render_post_list(getFilters())">
                <option value="relevance">Relevance</option>
                <option value="date">Date</option>
                <option value="rating">Rating</option>
                <option value="comments">Comments</option>
              </select>
              <select class="btn btn-sm btn-gray py-0" name="sort-posts-order" id="sort-posts-order" onchange="render_post_list(getFilters())">
                <option value="asc">Ascending</option>
                <option value="desc" selected>Descending</option>
              </select>
            </div>
          </div>
          <div class="pl-1 pr-1 overflow-auto" id="postlist" style="height: 63vh;">
            
          </div>
        </div>

        <div class="col-5 container-fluid h-100" id="visuals">
            <div class="mb-2 pb-0 col-title">
                Visualizations
            </div>
            <div class="mt-0 p-2 rounded shadow-1-strong bg-white" style="height: 30vh;"> 
                <div id="times-vis" class="w-100" style="height: 85%"></div>
                <div style="height: 15%" class="d-flex justify-content-center">
                    <div class="inline">Resolution:&nbsp;</div>
                    <div class="inline">
                        <button id="hist-1D-btn" type="button" class="hist-btn btn btn-sm btn-light py-0 mb-1" onclick="histBtnClicked(event)">1D</button>
                        <button id="hist-1W-btn" type="button" class="hist-btn btn btn-sm btn-light py-0 mb-1" onclick="histBtnClicked(event)">1W</button>
                        <button id="hist-1M-btn" type="button" class="hist-btn btn btn-sm btn-light py-0 mb-1" onclick="histBtnClicked(event)">1M</button>
                        <button id="hist-3M-btn" type="button" class="hist-btn btn btn-sm btn-primary py-0 mb-1" onclick="histBtnClicked(event)">3M</button>
                        <button id="hist-1Y-btn" type="button" class="hist-btn btn btn-sm btn-light py-0 mb-1" onclick="histBtnClicked(event)">1Y</button>
                    </div>
                </div>
            </div>
            <div style="height: 3vh;">
            </div>
            <div class="mb-0 p-2 rounded shadow-1-strong bg-white" style="height: 30vh;">
                <div id="words-vis" class="h-100 w-100" style="overflow-x: hidden; overflow-y:scroll"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* 
  postList is a list of post dictionaries. The server will return this. Example:
  [{   
    'relevance_score': "1",
    'platform': "Reddit",
    'subplatform': "PoliceBrutality",
    'time_posted': "2021-04-01",
    'time_scraped': "2021-04-02",
    'title': "string", 
    'body': "string", 
    'author': "string", 
    'post_url': "url string",
    'linked_urls': "url string?" this could be a list also, up to you/whatever the db contains,
    'comment_count': "num string",
    'rating': "num string"
  }, {...}]
  */
  var postList = []; 

  /* 
  dateRangeSetting is the current type mode of dateRange. 
  Note, this is not a filter! Use dateRange, not dateRangeSetting for queries!
  From list: ["1D", "1W", "1M", "3M", "1Y", "All", "Custom"]
  */
  var dateRangeSetting = "";

  /*
  dateRange is a dictionary containing 'min' and 'max' date.
  js Date object
  */
  var dateRange = {'min': Date.now(), 'max': Date.now()};

  /* keywords is a list of unlemmatized keyword strings */
  var keywords = [];
  /* jurisdictions is a list of unlemmatized jurisdictions strings */
  var jurisdictions = [];
  /* sources is a list of unlemmatized source (subreddit) strings */
  var sources = [];

  async function getFilters() {
    let url = new URL("http://localhost:9001/get-lemma"),
    params = {text: keywords}
    Object.keys(params).forEach(key => url.searchParams.append(key, params[key]))
    let keywordsLemma = await fetch(url, { "credentials": "same-origin" })
    .then(response => response.json())
    .catch(function (err) {
      console.warn('Error calling NLP lemma');
    });
    keywordsLemma = keywordsLemma.filter(e => e !== ',');;
    
    return {
      dateMin: dateRange.min.toISOString(),
      dateMax: dateRange.max.toISOString(),
      keywords: keywordsLemma,
      jurisdictions: jurisdictions,
      sources: sources
    }
  }

  // Render all visualizations (the function needs to have global scope)
  async function renderAll(
    stats = true,
    times_vis = true,
    words_vis = true,
    postlist = true
  ) {
    filters = await getFilters();
    //console.log(filters);
    console.log("Rendering all");
    if (stats) render_stats(filters)
    if (times_vis) render_times_vis(filters)
    if (words_vis) render_words_vis(filters)
    if (postlist) render_post_list(filters)
  }

  // event listeners
  window.addEventListener('load', renderAll)
  window.addEventListener('resize', renderAll)
  document.getElementById("keyword-input").addEventListener("keydown", function (e) {
    if (e.keyCode === 13) {
        addKeywords(e);
    }
  });
  document.getElementById("jurisdiction-input").addEventListener("keydown", function (e) {
    if (e.keyCode === 13) {
        addJurisdictions(e);
    }
  });
  document.getElementById("source-input").addEventListener("keydown", function (e) {
    if (e.keyCode === 13) {
        addSources(e);
    }
  });

  function init() {
    // presupply default filter settings
    dateRangeSetting = "All";
    updateDateRangeButtons();
    updateDateRangePickers();
    //jurisdictions.push("Washington, DC", "Baltimore, MD", "Louisville, KY");
    //sources.push("police", "policebrutality");
    updateAllPills();
  }


  // initialize and renderAll
  init();
  renderAll().then();
  
</script>
</body>
